body, *{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}

.navbar {
    background-color: #5e29687a;
    color: wheat;
}

a {
    color: wheat;
}

a:hover {
    text-decoration:none;
    font: wheat;
    color: wheat; 
    background:linear-gradient(to bottom, #a20dbd 5%, #c123de 100%);
	background-color:#a20dbd;
}

i {
    color: #5e29687a; 
}

p {
    color: #777777
}

#inputbtn {
	box-shadow:inset 0px 1px 0px 0px #e184f3;
	background:linear-gradient(to bottom, #5e29687a 5%, #5e29687a 100%);
	background-color:#5e29687a;
	border-radius:6px;
	border:1px solid wheat;
	display:inline-block;
	cursor:pointer;
	color:wheat;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px wheat;
}
#inputbtn:hover {
    background:linear-gradient(to bottom, #a20dbd 5%, #c123de 100%);
	background-color:#a20dbd;
}
#inputbtn:active {
	position:relative;
	top:1px;
}