body, *{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}

.navbar {
    background-color: #5e29687a;
    color: wheat;
}

a {
    color: wheat;
}

i {
    color: #5e29687a; 
}

p {
    color: #777777
}

#login {
    color: #560067;
}